.App {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
  border: 1px solid black;
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p{
  font-size: 23px;
  font-weight: bold;
}

button{
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  margin: 5px;
}